ENVIRONMENT=development
DEBUG=true

POSTGRES_USER=change_me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=job_tracker
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_REDIRECT_URL=
